<section>
    <div class="hand_txt_wrapper container">
        <img src="../assets/svgs/hand_bellow.svg" alt="hand">
        <span class="text_beside_hand">
           اضغط على الشكل لاظهار البرنامج
        </span>
    </div>
<div class="fifth_container">
    <div class="hex-container">
        <div class="hex hex-empty"></div>
        <div class="hex hex-active" data-info="info1">
            <p>
                <img src="../assets/svgs/inside_hex_ic.svg" alt="hex_ic">
            <br> 256
            <br>
            منشاة
            </p>
        </div>
        <div class="hex hex-empty"></div>
        <div class="hex hex-active" data-info="info2">
            <p>
                <img src="../assets/svgs/inside_hex_ic.svg" alt="hex_ic">
                <br> 19003
                <br>
                عامل
            </p>
        </div>
        <div class="hex hex-empty"></div>
        <div class="hex hex-active" data-info="info3">
            <p>
                <img src="../assets/svgs/inside_hex_ic.svg" alt="hex_ic">
                <br> 800
                <br>
                منشاة
            </p>
        </div>
        <div class="hex hex-empty"></div>
        <div class="hex hex-active" data-info="info4">
            <p>
                <img src="../assets/svgs/inside_hex_ic.svg" alt="hex_ic">
                <br> 17956
                <br>
                عامل
            </p>
        </div>

        <div class="hex hex-empty"></div>
        <div class="hex hex-active" data-info="info5">
            <p>
                <img src="../assets/svgs/inside_hex_ic.svg" alt="hex_ic">
                <br> 948
                <br>
                منشاة
            </p>
        </div>
    </div>
    <div class="info-container">
        <p id="info1"  class="info-text">Number of tourism companies that benefited from the sustainability program “Estidama”</p>
        <p id="info2" class="info-text">Number of tourism workers who benefited from the sustainability program “Estidama”</p>
        <p id="info3" class="info-text">Number of tourism workers who benefited from the economic empowerment “Tamkeen 2” advance payment</p>
        <p id="info4" class="info-text">Number of tourism companies that benefited from the protection program “Himayeh”</p>
        <p id="info5" class="info-text">Number of companies that applied for Defence Order benefits but were not approved</p>
    </div>
</div>

    <div class="fifth_section_txt container">
        <p>
            دانا* (33 عاماً) عملت في القطاع السياحي بين 2007 وتاريخ تسريحها القسري أواخر 2020.قبل الجائحة بأربعة أشهر وقعت دانا عقداً مفتوحا كمستشارة تطوير أعمال براتب 1500 دينار. لكن مع بداية الجائحة، فرضت الشركة على جميع موظفيها الـ20 توقيع عقود جديدة محددة المدة لنهاية 2020.هذا الإجراء يتعارض مع أمر الدفاع بحسب المحامي معاذ المومني، وفوق ذلك، لم يدفع المكتب الرواتب التي نصّت عليها قوانين الدفاع في شهري آذار/ مارس ونيسان/ أبريل لعدم توفر السيولة.
        </p>
        <p>
            المحامي المومني يرى في إجراء آخر يكون غير قانوني ومخالف لأوامر الدفاع والبلاغات الصادرة عنه."
            هكذا يشخص المومني الحالات التي رصدتها معدة التحقيق حول إنهاء عقود محددة المدة تعسفياً. ذلك أن البلاغ رقم (7) من أمر الدفاع رقم (6)
            المادة 4 تنص على: "يتم تجديد عقد العمل محدد المدة للعامل الأردني تلقائياً بموجب هذا البلاغ وحتى تاريخ انتهاء العمل بقانون الدفاع ما لم يتم الاتفاق على تمديده لمدة أطول."
        </p>
    </div>
    <div class="fifth_telegraph container">
        <h2>نص المادة 4 :</h2>
        يتم تجديد عقد العمل محدد المدة للعامل الأردني تلقائياً بموجب هذا البلاغ وحتى تاريخ انتهاء العمل بقانون الدفاع ما لم يتم الاتفاق على تجديده مدة أطول وفقاً للشروط التالية:-

        <p>
            1- أن يكون العقد قد انتهت مدته بتاريخ 30/4/2020 وما بعده.

        </p>
        <p>
            2- أن يكون العقد قد سبق أن تم تجديده ثلاث مرات فأكثر.

        </p>

    </div>

    <div class="fifth_section_txt container">
        <p>
            سليم* الذي يملك مكتب سياحة وافدة وحجوزات تذاكر يقول إنه اضطر في آب/ أغسطس 2020 لإغلاق مكتبه بعد الاتفاق مع الموظفين على تقديم استقالتهم على أمل عودتهم للعمل فور تحسن الأوضاع. يرجع سليم سبب الإغلاق إلى غياب دعم الحكومة لأصحاب مكاتب السياحة، ففضلا عن تكرار تقليها في اتخاذ القرارات ما أريك أصحاب المكاتب ودفعهم صوب خيار الإغلاق.
        </p>
        <p>
            سليم لم يقدم على طلب إيقاف إلى وزارة العمل، واكتفى بشرح وضعه لموظفيه الثمانية، الذين لم يعارضوا تقديم استقالتهم بحسب أقواله:" الموظفين كانوا متفهمين أكثر من الحكومة، كلهم تقهوا استقالتهم."
        </p>
        <p>
            مثال سليم لم يكن وحيداً فقد شمل 307 مكتب سياحة من بين 800 في تجديد ترخيصه حتى أبريل/ نيسان 2021 كان يعمل في هذه المكاتب المنتشرة في محافظات الأردن الاثنتي عشرة عشرة آلاف موظف/ة.
        </p>
    </div>
    <div class="fifth_link_wrapper container">
        <p>
            <img src="../assets/svgs/link_ic.svg" alt="link">
            <span>مكاتب السياحة تغلق ابوابها تباعا</span>
        </p>
    </div>

    <div class="fifth_section_txt container">
        <h2>
            "قليل يدوم خير من كثير منقطع"
        </h2>
        <p>
            محمد وزملاؤه طلبوا من مدراء المكتب إعادتهم للعمل أملاً بإدراجهم مجددا في الضمان الاجتماعي ليتمكنوا من الاستفادة من برامج الإقراض حتى لو كانت الأجور منخفضة. وكما يقول محمد " قليل يدوم خير من كثير منقطع".
        </p>
        <p>
            البلاغ رقم 18 صادر بالاستناد لأحكام أمر الدفاع رقم 6 لسنة حول تنظيم أجور العاملين في القطاع الخاص أمر بدفع 75% من الأجر الشهري - بين كانون الأول/ ديسمبر 2020 وأيار/ مايو 2021 - في القطاعات والأنشطة الأكثر تضرراً.على أن تشمل تلك النسبة أجور الإدارة العليا.
        </p>
    </div>
</section>
