<section class="first_sec container">

<div class="div_one">
    بعد سبعة أشهر من التعطل بفعل جائحة كورونا، لملم محمد* وزوجته ذكريات منزلهما - الذي أمضيا فيه 15 عامًا- وغادراه مرغمين مع أبنائهما الثلاثة بعد أن استنفذا جميع مدخراتهما في نهاية العام الأول من الجائحة العالمية. انهيار قطاع السياحة العالمي بنسبة 85% وانحسار إيراداته السياحية إلى الربع من 4.1 مليارات دينار (5.7 مليارات دولار) في 2019 إلى مليار دينار (1.4 مليار دولار) في العام التالي.

    ترك محمد على الرصيف في بلد شهد تسريح قرابة 140 ألف عامل/ة وتسارع الانهيارات المالية.
</div>
<div class="div_two">
    حين حلت "الفاجعة" كان الأربعيني محمد يصعد سلم الترقية في مكتبه السياحي بعمّان منذ تخرجه في كلية اللغات/ جامعة اليرموك عام 2005. مسلحا باللغات الفرنسية، والإيطالية، والإنجليزية، تسلق محمد إلى منصب مدير العمليات اللوجستية بدخل 1000 دينار شهريًا (1400 دولار)، صعودا من 300 دينار (420 دولار) بداية حياته المهنية.
</div>

    <div class="ladder">
        <img src="../assets/img/ladder_image.png" alt="ladder">
    </div>

    <div>
        <h2>
            نقطة التحول
        </h2>
        <p>
            في منتصف يونيو/ حزيران 2020 قرر أصحاب العمل الاستغناء عن 13 موظفًا- من بينهم محمد- إيقاف عمل المنشأة لدى وزارة العمل بسبب تراكم الديون وعدم قدرتهم على جمع مستحقاتهم في السوق التجارية. أغلقت بفعل أوامر الدفاع لمدة شهرين إلى أن انتهى موسم السياحي. تلقى المسرّحون راتب شهرين مقدمًا وتركوا لمواجهة أعباء الحياة.
        </p>
        <p>
            "مفاجأة"، هكذا يبرر محمد عمر*- الذي عمل معه مدة 12 عامًا- فيرجع قبوله الاستقالة إلى "الثقة المتبادلة" بينه وبين أصحاب العمل الاستغناء عنه.
        </p>
        <p>
            قصة محمد وزملائه تكررت أيضًا مع يزن الذي يزن في مكتب سياحي منذ حصوله على بكالوريوس في الإرشاد السياحي عام 2004.
            في 2015، انتقل يزن* للعمل في مكتب سياحي ضمن عقد مفتوح. انتهى عقده عام 2015 حيث عمل ضمن المكتب السياحي لمدة 25 عامًا. يتمثل عمله في إنهاء عقود العاملين لديه- مايقدر بـ 25 موظف- بالاستناد إلى أوامر الدفاع.
        </p>
    </div>
    <div class="first_images_wrapper">
        <div>
        <img src="../assets/img/first_img_one.png" alt="first_img_one"/>
        </div>
        <div>
        <img src="../assets/img/first_img_two.png" alt="first_img_two" class="custom_img_margin"/>
        </div>
        <div>
        <img src="../assets/img/first_img_three.png" alt="first_img_three"/>
        </div>
    </div>
</section>
