<section class="fourth_sec">
    <div class="container">
        <p>
            وزارة العمل ردت بأن المنشآت الحاصلة على موافقة لجنة الإيقاف، تخضع لحجز تحظى على رصيدها لدى البنوك وتمنع من السحب أو التصرف طيلة فترة الإيقاف. كما تمنع من ممارسة أي أعمال متى الإيقاف، ولم تحدد الوزارة عدد المخالفين لأوامر الدفاع. بناء على ذلك يرى المحامي معاذ المومني أن قصور الأوامر لجهة خلق استثناءات الإدارة المالية.
        </p>
        <p>
            ويشرح المومني الفارق بين إيقاف العامل والمؤقت، قائلاً في الحال وللعمل بين العامل والمدير بينما تبقى العلاقة قائمة في الثانية على نص <span>أمر الدفاع</span> رق 6 من المادة الخامسة أن تقر أذا يلتزم صاحب العمل بدفع. كما أن وقف عقود العمل لجميع العمال. وعلى صاحب العمل إلا بعد الحصول على موافقة تلك اللجنة الخاصة بعد تقديم طلب للجنة مشتركة بشكل كلياً.
        </p>
        <p>
            رئاسة الوزراء ترفض التعليق على استفسار مشيرة إلى تطبيق أوامر الدفاع منوط بوزارة العمل ومركز إدارة الأزمات.
        </p>
        <p>
            من جانبها تنفيذ وزارة العمل بأنها أخطأ في أن استثمار هذا الموضوع إلى إدارة الضمان الاجتماعي، وتدعو العاملين إلى التوجه للضمان من أجل نيل بدل تعطل عن الضرر الذي وقع عليهم بعد إيقاف مؤسساتهم عن العمل.
        </p>
        <p>
            في ربيع 2020، أطلق الضمان برنامج " استدامة " الذي استفادت منه 849منشأة و17246 عاملاً، بما قيمته خمسة عشر مليون و 657 ألف دينار.
        </p>
        <p>
            كما أطلقت المؤسسة برنامجها لدعم العاملين في قطاع السياحة. يعطي العامل المؤمن عليه 50 % من أجره الحقيقي بما لا يزيد عن 400 دينار ولا يقل عن 220 دينار. يتوزع هذا البرنامج بخمس المخصصات الطارئة، استفادت منه 256 منشأة سياحية و 5732 عاملاً. ومجموع المبلغ الذي صرف من هذا البرنامج وصل إلى ثلاثة مليون دينار.
        </p>
        <p>
            وأوضح ثمانان أن هذه المبالغ ليست منحة تلك المنشآت وأنما هي بقرض بفائدة %3 تتحملها الحكومة.
        </p>
    </div>
</section>
