<img src="./assets/img/hero_image.png" alt="petra" class="hero_image">
<div class="hero_desc_img">
    <img src="./assets/img/hero_description_img.png" alt="hero_desc" class="">
    <div class="hero_sec_btn">
    <button>عائشة الغبن</button>
    </div>
</div>
<div>
    <ul class="tab_pane_content">
        <li>
            <img src="./assets/svgs/ARIJ_logo.svg" alt="ARIJ">
        </li>
        <li>
            الاستغناء عن الموظفين
        </li>
        <li>
            ايقاف غير قانوني
        </li>
        <li>
            تداخل صلاحيات
        </li>
        <li>
            قروض انتقائية
        </li>
        <li>
            برامج البنك المركزي
        </li>
        <li>
            EN
        </li>
    </ul>
</div>
