<section class="">
    <article class="section_two">
    <div class="container virus_image_txt">
        <h2>
            تحاليل بالقانون
        </h2>
        <p>
            تبين ليزن وزملائه بأن المكتب ظلّ يعمل، فاشتكو لدى وزارة العمل. التي أرسلت فريق تفتيش للشركة ليجد بأن موظفي التحصيل فقط من يعملون حاليًا و"لفترة قصيرة" وفق تبرير أصحاب المكتب. وبالتالي أغلقت الشكوى على غرار عشرات الشكاوى المماثلة.
        </p>
        <p>
            بين مارس/ آذار 2020 و يوليو/ تموز 2021، تقدمت 136 منشأة سياحية بطلبات إيقاف العمل. 89 منها استأنفت أنشطتها في ضوء انفراج جزئي في القطاع. وظلت 47 منشأة تحت الإيقاف.
        </p>
    </div>
    </article>
    <article class="container">
    <div class="second_sec_txt">
        <h2>استثناءات ايقاف العمل في المنشاة.. غير قانوني</h2>
        <p>
            يجب أن تقدم الشركة طلبا إلكترونيا في موقع وزارة العمل، يتجدد كل شهرين في حال الرغبة باستمرار الإيقاف.
        </p>
        <p>
            على وقع التسريح، تلقت وزارة العمل 10,452 شكوى من عمال في القطاع السياحي بين يونيو/ حزيران 2020 وحتى يونيو/ حزيران 2021 من بينها 4913 شكوى في المطاعم، والنقل السياحي، والفنادق.
        </p>
    </div>
    </article>
</section>
