<section class="seventh_section container">
    <div class="carousel">
        <div class="carousel__track-container">
            <ul class="carousel__track">
                <li class="carousel__slide current-slide">
                    <div class="time_p">
                        <p>
                            <img src="../assets/svgs/time_ic.svg" alt="time">
                            4/3/2020
                        </p>
                    </div>
                    <div class="second_wrapper_carousel">
                        <div>
                            <h2>سقف التمويل</h2>
                            <p>
                                "لا يتجاوز 2.0% ونسبة ضمان 85% وفترة سماح تصل لستة أشهر"
                            </p>
                        </div>
                        <div>
                            <h2>اسم البرنامج</h2>
                            <p>
                                برنامج تمويلي خاص بالشركات الصغيرة و المتوسطة
                            </p>
                        </div>
                    </div>
                    <div class="carousel_desc">
                        <div>
                            <h2>وصف البرنامج</h2>
                            <p>
                                قروض البنك المركزي لدعم الشركات الصغيرة لمواجهة كورونا. بقيمة 500 مليون دولار. بسعر فائدة ثابت طيلة عمر التمويل
                            </p>
                            <p>
                                - كلفة تمويل ميسرة لا تتجاوز 2%
                                - ضامن مرتفع للديون يصل 85% لتشجيع البنوك على تمويل الشركات
                            </p>
                        </div>

                    </div>
                </li>
                <li class="carousel__slide">
                    <div class="time_p">
                        <p>
                            <img src="../assets/svgs/time_ic.svg" alt="time">
                            4/3/2020
                        </p>
                    </div>
                    <div class="second_wrapper_carousel">
                        <div>
                            <h2>سقف التمويل</h2>
                            <p>
                                "لا يتجاوز 2.0% ونسبة ضمان 85% وفترة سماح تصل لستة أشهر"
                            </p>
                        </div>
                        <div>
                            <h2>اسم البرنامج</h2>
                            <p>
                                برنامج تمويلي خاص بالشركات الصغيرة و المتوسطة
                            </p>
                        </div>
                    </div>
                    <div class="carousel_desc">
                        <div>
                            <h2>وصف البرنامج</h2>
                            <p>
                                قروض البنك المركزي لدعم الشركات الصغيرة لمواجهة كورونا. بقيمة 500 مليون دولار. بسعر فائدة ثابت طيلة عمر التمويل
                            </p>
                            <p>
                                - كلفة تمويل ميسرة لا تتجاوز 2%
                                - ضامن مرتفع للديون يصل 85% لتشجيع البنوك على تمويل الشركات
                            </p>
                        </div>

                    </div>
                </li>
                <li class="carousel__slide">
                    <div class="time_p">
                        <p>
                            <img src="../assets/svgs/time_ic.svg" alt="time">
                            4/3/2020
                        </p>
                    </div>
                    <div class="second_wrapper_carousel">
                        <div>
                            <h2>سقف التمويل</h2>
                            <p>
                                "لا يتجاوز 2.0% ونسبة ضمان 85% وفترة سماح تصل لستة أشهر"
                            </p>
                        </div>
                        <div>
                            <h2>اسم البرنامج</h2>
                            <p>
                                برنامج تمويلي خاص بالشركات الصغيرة و المتوسطة
                            </p>
                        </div>
                    </div>
                    <div class="carousel_desc">
                        <div>
                            <h2>وصف البرنامج</h2>
                            <p>
                                قروض البنك المركزي لدعم الشركات الصغيرة لمواجهة كورونا. بقيمة 500 مليون دولار. بسعر فائدة ثابت طيلة عمر التمويل
                            </p>
                            <p>
                                - كلفة تمويل ميسرة لا تتجاوز 2%
                                - ضامن مرتفع للديون يصل 85% لتشجيع البنوك على تمويل الشركات
                            </p>
                        </div>

                    </div>
                </li>
                <li class="carousel__slide">
                    <div class="time_p">
                        <p>
                            <img src="../assets/svgs/time_ic.svg" alt="time">
                            4/3/2020
                        </p>
                    </div>
                    <div class="second_wrapper_carousel">
                        <div>
                            <h2>سقف التمويل</h2>
                            <p>
                                "لا يتجاوز 2.0% ونسبة ضمان 85% وفترة سماح تصل لستة أشهر"
                            </p>
                        </div>
                        <div>
                            <h2>اسم البرنامج</h2>
                            <p>
                                برنامج تمويلي خاص بالشركات الصغيرة و المتوسطة
                            </p>
                        </div>
                    </div>
                    <div class="carousel_desc">
                        <div>
                            <h2>وصف البرنامج</h2>
                            <p>
                                قروض البنك المركزي لدعم الشركات الصغيرة لمواجهة كورونا. بقيمة 500 مليون دولار. بسعر فائدة ثابت طيلة عمر التمويل
                            </p>
                            <p>
                                - كلفة تمويل ميسرة لا تتجاوز 2%
                                - ضامن مرتفع للديون يصل 85% لتشجيع البنوك على تمويل الشركات
                            </p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="carousel__nav">
            <div>
                <h2>ملاحظات</h2>
                <p>
                    "الفئات المستهدفة 11 قطاع من ضمنها 250 ألف دينار للخدمات السياحية عدا الفنادق 1 مليون للفنادق، 1 مليون للنقل"
                </p>
            </div>
            <button class="carousel__indicator current-slide"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <span>
                 <img
                         class=""
                         src="../assets/svgs/hand_bellow.svg"
                         alt="background-image"
                 />
                اضغط هنا للانتقال الى البرنامج التالي
            </span>
        </div>
    </div>
    <div class="carousel_image_part">
        <img
                class="carousel__images"
                src="../assets/img/bank.png"
                alt="background-image"
        />
        <img
                class="arrow"
                src="../assets/svgs/arrow.svg"
                alt="background-image"
        />
    </div>


</section>
<div class="last_sec_txt container">
    <p>
        <span>يزن</span> لم يستفد من برنامج بدل التعطل إلا لشهر أيار/ مايو 2020 بقيمة 350 ديناراً؛ لعدم توفر رصيد ادخاري في حساب اشتراك ضمانه الاجتماعي. لم يستلم أي دفعات أخرى منذ ذلك التاريخ وحتى نشر هذا التحقيق ست دفعات بدأ من مارس على النحو التالي: 500 دينار لأول شهرين، ثم 350 ديناراً لمدة أربعة أشهر متتالية.
    </p>
    <p>
        <span>دانا</span> اليوم تتلقى عروض للعمل في مكاتب سياحية إلا أن الراتب المطروح لا يغطي سياحية في ظل ازدحام شوارع عمان وأزمة المواصلات. بالإضافة لعدم توافر وسائل مواصلات عامة قريبة من منزلها.
    </p>
    <p>
        أما <span>محمد</span>، فيعود إلى نقطة انطلاقه في محافظة اربد بجانب منزل عائلته. بعد أن قضى 10 أعوام وهو يسعى في سبيل تحقيق النجاح وزيادة أرباح المكتب السياحي الذي كان يعلق عليه آماله. وهو يعمل اليوم سائق على التطبيقات الذكية لتأمين احتياجات أطفاله الأساسية.
    </p>
    <p>
        وهو يتساءل اليوم إن كان أخطأ في وضع ثقته في غير محلها؟ أم هي غلطة تتحملها الحكومة لعدم مراقبة هذه التجاوزات والمحاسبة عليها؟ أم هي مسؤولية جمعية الوكلاء السياحيين في عدم نقل معاناة الموظفين وتحقيق العدل لهم؟ أم هي ظروف لم يكن في الحسبان غير قواعد اللعبة؟
    </p>
    <p>
        *اسم مستعار حفاظاً على سرية معلومات الموظفين.
    </p>
</div>
