<section class="sixth_section">
    <div class="container">
        <h2>قروض بعيدة المنال وبرامج انتقائية</h2>
        <p>
            نائب رئيس جمعية وكلاء السياحة والسفر الأردنية جمال الضامن يشكو من أن "وزارة السياحة لم تقدم دعما مباشرا للمكاتب السياحية". لافتاً إلى أن الإسناد " اقتصر على إعلان وزيرة السياحة السابقة مجد شويكة إعفاء مالكي وممارسي المهن السياحية من رسوم تجديد التراخيص للعام الماضي". إلا أن الضامن يجادل بأن ذلك لم يتحقق. ويقول إن المكتب السياحي- الذي فقد جل دخله منذ 18 شهراً- يدفع قرابة 500 دينار رسوم تراخيص سنوياً، بالإضافة إلى 350 دينار رسوم لجمعية وكلاء السياحة والسفر الأردنية إلى جانب متوسط حجم رواتبه بواقع 6000 دينار شهريا (8462 دولار) وتكاليف تشغيلية.
        </p>
        <p>
            يقر الضامن بأن مكاتب سياحية لم تستفد من برامج البنك المركزي للقروض بسعر فائدة ثابت طيلة عمر التمويل. إلا أن معظم المكاتب الصغيرة والمتوسطة لم تقدم على هذه الخطوة. بسبب عدم وضوح الوضع الوبائي ومستقبل العمل في القطاع السياحي، أو وجود نقطة زمنية محددة لاستئناف العمل بوضعه الطبيعي السابق ليتمكن صاحب المكتب من تسديد دفعات القروض.
        </p>
    </div>

</section>
