<section class="third_sec">
    <article>
        <div class="card">
            <div class="card-header">
                <p>اجبازي على تقديم اجازة بدون راتب</p>
            </div>
            <div class="card-content">
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon hotel-icon"></div>
                    <p>فنادق</p>
                    <span>14</span>
                </div>
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon transport-icon"></div>
                    <p>نقل سياحي</p>
                    <span>5</span>
                </div>
                <div class="card-item">
                    <div class="icon restaurant-icon"></div>
                    <p>مطاعم</p>
                    <span>15</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <p>على تقديم استقالة اجباري</p>
            </div>
            <div class="card-content">
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon hotel-icon"></div>
                    <p>فنادق</p>
                    <span>14</span>
                </div>
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon transport-icon"></div>
                    <p>نقل سياحي</p>
                    <span>5</span>
                </div>
                <div class="card-item">
                    <div class="icon restaurant-icon"></div>
                    <p>مطاعم</p>
                    <span>15</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <p>على اجراء اعتراض</p>
            </div>
            <div class="card-content">
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon hotel-icon"></div>
                    <p>فنادق</p>
                    <span>14</span>
                </div>
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon transport-icon"></div>
                    <p>نقل سياحي</p>
                    <span>5</span>
                </div>
                <div class="card-item">
                    <div class="icon restaurant-icon"></div>
                    <p>مطاعم</p>
                    <span>15</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <p>الإجازات</p>
            </div>
            <div class="card-content">
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon hotel-icon"></div>
                    <p>فنادق</p>
                    <span>14</span>
                </div>
                <div class="card-item" style="border-left: 1px solid #FFFFFF; padding-left: 35px">
                    <div class="icon transport-icon"></div>
                    <p>نقل سياحي</p>
                    <span>5</span>
                </div>
                <div class="card-item">
                    <div class="icon restaurant-icon"></div>
                    <p>مطاعم</p>
                    <span>15</span>
                </div>
            </div>
        </div>

    </article>
    <div class="bold_card_below_txt container" style="margin-top: 150px">
        يساهم القطاع السياحي بنسبة 13% من الناتج المحلي الإجمالي بدخل 4.1 مليار دينار أردني (5.78 مليار دولار أمريكي) للعام 2019، ويشغل ما يزيد عن 53 ألف عامل على نحو مباشر، و11 قطاعا تجاريا مساندا، كالفنادق، والمطاعم، والنقل السياحي، ومحلات التحف.
    </div>
    <div class="card_sec_below container">
        <h2>
            استثناءات غير قانونية
        </h2>
        <p>
            في مقابلات مع 20 موظفا في ثلاث منشآت سياحية، وجدنا أن إنهاء العقود محددة المدة لم يشمل مدراء الأقسام والعاملين في قسم المحاسبة والتحصيل
        </p>
        <p>
            المحامي معاذ المومني المختص في قضايا العمال يجادل بأن "أوامر الدفاع لم تنص على مثل هذه الاستثناءات؛ إذ أن الإيقاف يجب أن يشمل جميع الموظفين. أي إجراء عكس ذلك يعد غير قانوني". ويؤكد المومني: "يجب على أوامر الدفاع توضيح ماهية الطلب إيقاف عمل إضافة استثناءات لتمكن أصحاب المنشآت من تحصيل أموالهم من مختلف الأطراف وإجراء المخالصات للمنشأة."
        </p>
        <p>
            مؤسسات الدولة المختلفة لم تتطرق لوجود أي استثناءات في أمر الدفاع لآلية إيقاف العمل، ما اضطر الشركات على استمرار عملها في قسم المحاسبة والتحصيل بشكل مخالف لأوامر الدفاع الملزمة لوقف العمل بصورة كلية.
        </p>
    </div>

    <div class="card_sec_below container">
        <h2>
            تداخل الصلاحيات وضبابيتها
        </h2>
        <p>
            مدير وحدة المركز الإعلامي للمركز الوطني للأمن و إدارة الأزمات أحمد النعيمات، أوضح أن "الجهة التي تصدر أوامر الدفاع هي دولة رئيس الوزراء بصفته الموصوفة في الدستور، وهي السلطة التنفيذية المعنية الموضوع." من جانبها، أحالت وحدة الإعلام في رئاسة الوزراء تساؤلاتنا لوزارة العمل، بصفتها معنية بالتصريح عن أمر الدفاع الخاص بعقود العمل.
        </p>
    </div>
    <div class="fifth_telegraph card_telegraph container">
        <div style="text-align: center">
        <img src="../assets/svgs/telegraph_logo.svg" alt="logo">
        </div>
        يتم تجديد عقد العمل محدد المدة للعامل الأردني تلقائياً بموجب هذا البلاغ وحتى تاريخ انتهاء العمل بقانون الدفاع ما لم يتم الاتفاق على تجديده مدة أطول وفقاً للشروط التالية:-

        <p>
             أن يكون العقد قد انتهت مدته بتاريخ 30/4/2020 وما بعده.

        </p>
        <p>
             أن يكون العقد قد سبق أن تم تجديده ثلاث مرات فأكثر.

        </p>

    </div>
    <div class="fifth_link_wrapper container" style="margin-top: 100px">
        <p>
            <img src="../assets/svgs/link_ic.svg" alt="link">
            <span>امر دفاع رقم (6) لسنة 2020 الصادر بمقتضى قانون الدفاع</span>
        </p>
    </div>
</section>
